<ModalStack dismissEnabled="true" class="modal-root">
  <GridLayout rows="*" columns="*">
    <StackLayout row="0" col="0" class="backdrop" (tap)="closeModal()"></StackLayout>

    <GridLayout row="0" col="0" rows="auto,*" class="modal-card">
      <GridLayout row="0" columns="*,auto" class="header">
        <Label col="0" text="WiFi Config" class="title modal-title-text"></Label>

        <StackLayout col="1" style="">
          <MenuButton [useSFIcon]="true" style="background-color: transparent; height: 24; width: 35;"
            [sfIconName]="'ellipsis.circle'" [showSpinner]="viewReady && isLoading" #menuStatus [options]="mainMenu.options"
            (selected)="onSelectedMainMenu($event, menuStatus)">
          </MenuButton>
        </StackLayout>
      </GridLayout>

      <StackLayout row="1" class="content">
        <StackLayout orientation="horizontal" verticalAlignment="center" horizontalAlignment="center" >
          <ListPicker #devicePicker [items]="deviceLabels" [selectedIndex]="selectedIndex"
            (selectedIndexChange)="onchange($event)" [height]="70" width="70%">
          </ListPicker>
        </StackLayout>

        <StackLayout [formGroup]="wifiConfigForm">
          <StackLayout *ngIf="useSameForAll" formGroupName="primary">
            <!-- <GridLayout rows="auto" columns="400, *" style="margin-bottom: 8;"> -->
              <StackLayout orientation="horizontal">
                <MenuButton [useSFIcon]="true" style="background-color: transparent; height: 35; width: 40;"
                  [sfIconName]="'lock.shield'" [options]="securityMenuOptions(0)"
                  (selected)="onSecuritySelected(0, $event)">
                </MenuButton>
                <Label [text]="bandTitle(0)" class="band-title" style="font-size: 16;"></Label>
              </StackLayout>
              
            <!-- </GridLayout> -->
          <TextField formControlName="name" hint="Name" class="custom-tf"></TextField>
          <TextField formControlName="password" hint="Password" class="custom-tf"></TextField>
          </StackLayout>

          <StackLayout *ngIf="!useSameForAll && bandsControls.length > 0" style="margin-top: 10;">
            <SegmentedBar
              [items]="bandSegments"
              [selectedIndex]="selectedBandIndex"
              (selectedIndexChange)="onBandSegmentChanged($event)" style="margin-left: 15">
            </SegmentedBar>

            <StackLayout *ngIf="selectedBandGroup as group" [formGroup]="group" style="margin-top: 10;">
              <StackLayout orientation="horizontal">
                <MenuButton [useSFIcon]="true" style="background-color: transparent; height: 35; width: 40;"
                  [sfIconName]="'lock.shield'" [options]="securityMenuOptions(selectedBandIndex)"
                  (selected)="onSecuritySelected(selectedBandIndex, $event)">
                </MenuButton>
                <Label [text]="bandTitle(selectedBandIndex)" class="band-title" style="font-size: 16;"></Label>
              </StackLayout>

              <TextField formControlName="name" hint="Name" class="custom-tf"></TextField>
              <TextField formControlName="password" hint="Password" class="custom-tf"></TextField>
            </StackLayout>
          </StackLayout>

          <GridLayout columns="auto,12,*" class="use-same-row">
            <Switch col="0" class="use-same-switch" [checked]="useSameForAll" (checkedChange)="onUseSameChanged($event)"></Switch>
            <Label col="2" class="use-same-label" text="Use same credentials for all bands"></Label>
          </GridLayout>
        </StackLayout>

      </StackLayout>
    </GridLayout>
  </GridLayout>
</ModalStack>
