.modal-root {
  width: 100%;
  height: 100%;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.modal-card {
  // width: 340;
  padding: 10;
  margin: 15;
  border-radius: 16;
  border-width: 1;
  border-color: rgba(255, 255, 255, 0.10);
  shadow-color: #000000;
  shadow-offset: 0 8;
  shadow-opacity: 0.28;
  shadow-radius: 20;
  background-color: #281d1d;
  vertical-align: middle;
  horizontal-align: center;
}

.ns-light .modal-card {
  background-color: #F2F2F7;
  border-color: rgba(60, 60, 67, 0.16);
  shadow-offset: 0 6;
  shadow-opacity: 0.18;
  shadow-radius: 16;
}

.ns-dark .modal-card {
  background-color: #1C1C1E;
  border-color: rgba(255, 255, 255, 0.14);
}

.header {
  margin-bottom: 8;
}

.header-fixed {
  height: 50;
}

.title {
  font-size: 18;
  font-weight: 600;
  padding-bottom: 20;
}

.modal-title-text,
.band-title {
  color: #ffffff;
}

.ns-light .modal-title-text,
.ns-light .band-title {
  color: #000000;
}

.close-btn {
  font-size: 14;
  padding: 0;
}

.content {
  margin-top: 6;
  padding-bottom: 80;
}

.form-scroll {
  width: 100%;
  height: 40%;
}

.subtitle {
  font-size: 14;
  margin-top: 6;
}

.item-bag {
  background-color: rgba(126, 151, 185, 0.308);
  border-radius: 5;
  margin-top: 7;
}

.picker {
  background-color: blanchedalmond;
  color: red;
  border-color: brown;
  border-radius: 20;
  border-width: 2;
  width: 200;
  height: 100;
  vertical-align: middle;
}

.code-input-modal {
  margin-left: 15;
  margin-right: 15;
  padding: 15;
  border-radius: 10;
  background-color: rgb(32, 31, 31);
  width: 90%;
}

.code-description {
  font-size: 20;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.603);
  color: white;
  margin-bottom: 100px;
}

.drop-down {}

.btn-login {
  // background-color: rgb(46, 141, 67);
  // margin-top: 200px;
}

TextField.custom-tf {
  height: 44;
  // width: 40%;
  font-size: 17;
  padding-left: 12;
  padding-right: 12;
  margin-left: 15;
  margin-right: 15;
  border-radius: 50%;
  border-width: 1;
  margin-top: 6;
  margin-bottom: 6;
}

.field-with-action {
  margin-left: 15;
  margin-right: 15;
}

.copy-icon {
  font-size: 18;
  width: 34;
  text-align: center;
  vertical-align: middle;
  margin-right: 5;
  height: 44;
}

.copy-icon-disabled {
  opacity: 0.35;
}

.input-shell {
  margin-left: 15;
  margin-right: 15;
  margin-top: 6;
  margin-bottom: 6;
  height: 44;
  border-radius: 50%;
  border-width: 1;
}

TextField.custom-tf-inline {
  height: 44;
  font-size: 17;
  padding-left: 12;
  padding-right: 5;
  margin: 0;
  border-width: 0;
  background-color: transparent;
}

.ns-light .input-shell {
  background-color: #ffffff;
  border-color: #d1d1d6;
}

.ns-dark .input-shell {
  background-color: #2c2c2e;
  border-color: #48484a;
}

.ns-light TextField.custom-tf-inline {
  color: #000000;
  placeholder-color: #8e8e93;
}

.ns-dark TextField.custom-tf-inline {
  color: #ffffff;
  placeholder-color: #aeaeb2;
}

.ns-light .copy-icon {
  color: #3a3a3c;
}

.ns-dark .copy-icon {
  color: #f2f2f7;
}

.ns-light TextField.custom-tf {
  background-color: #ffffff;
  border-color: #d1d1d6;
  color: #000000;
  placeholder-color: #8e8e93;
}

.ns-dark TextField.custom-tf {
  background-color: #2c2c2e;
  border-color: #48484a;
  color: #ffffff;
  placeholder-color: #aeaeb2;
}

.use-same-row {
  margin-top: 10;
  margin-left: 15;
  margin-right: 15;
  vertical-align: middle;
}

.use-same-switch {
  horizontal-align: left;
  vertical-align: middle;
  margin-top: 2;
}

.use-same-label {
  vertical-align: middle;
  color: #ffffff;
  font-size: 13;
  width: 100%;
  line-height: 1.25;
}

.ns-light .use-same-label {
  color: #000000;
}
