.modal-root {
  width: 100%;
  height: 100%;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.modal-card {
  // width: 340;
  padding: 10;
  margin: 15;
  border-radius: 12;
  background-color: #281d1d;
  vertical-align: middle;
  horizontal-align: center;
}

.ns-light .modal-card {
  background-color: rgb(140, 148, 159);
}

.ns-dark .modal-card {
  background-color: #1C1C1E;
}

.header {
  margin-bottom: 8;
}

.title {
  font-size: 18;
  font-weight: 600;
}

.modal-title-text,
.band-title {
  color: #ffffff;
}

.ns-light .modal-title-text,
.ns-light .band-title {
  color: #000000;
}

.close-btn {
  font-size: 14;
  padding: 0;
}

.content {
  margin-top: 6;
}

.subtitle {
  font-size: 14;
  margin-top: 6;
}

.item-bag {
  background-color: rgba(126, 151, 185, 0.308);
  border-radius: 5;
  margin-top: 7;
}

.picker {
  background-color: blanchedalmond;
  color: red;
  border-color: brown;
  border-radius: 20;
  border-width: 2;
  width: 200;
  height: 100;
  vertical-align: middle;
}

.code-input-modal {
  margin-left: 15;
  margin-right: 15;
  padding: 15;
  border-radius: 10;
  background-color: rgb(32, 31, 31);
  width: 90%;
}

.code-description {
  font-size: 20;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.603);
  color: white;
  margin-bottom: 100px;
}

.drop-down {}

.btn-login {
  // background-color: rgb(46, 141, 67);
  // margin-top: 200px;
}

TextField.custom-tf {
  height: 44;
  // width: 40%;
  font-size: 17;
  padding-left: 12;
  padding-right: 12;
  margin-left: 15;
  margin-right: 15;
  border-radius: 50%;
  border-width: 1;
  margin-top: 6;
  margin-bottom: 6;
}

.ns-light TextField.custom-tf {
  background-color: #f2f2f7;
  border-color: #d1d1d6;
  color: #000000;
  placeholder-color: #8e8e93;
}

.ns-dark TextField.custom-tf {
  background-color: #1C1C1E;
  border-color: #3a3a3c;
  color: #ffffff;
  placeholder-color: #8e8e93;
}

.use-same-row {
  margin-top: 10;
  margin-left: 15;
  margin-right: 15;
  vertical-align: middle;
}

.use-same-switch {
  horizontal-align: left;
  vertical-align: middle;
  margin-top: 2;
}

.use-same-label {
  vertical-align: middle;
  color: #ffffff;
  font-size: 13;
  width: 100%;
  line-height: 1.25;
}

.ns-light .use-same-label {
  color: #000000;
}
