<ActionBar class="action-bar" title="Residential Job Prices">
  <ActionItem ios.position="right">
    <StackLayout>
      <MenuButton
        style="height: 48; width: 35; padding: 0; margin: 0;"
        [useSFIcon]="true"
        [sfIconName]="'ellipsis.circle'"
        [isRightSide]="true"
        [showSpinner]="isSaveLoading"
        [options]="mainMenuR.options"
        (selected)="onSelectedMainMenuR($event)">
      </MenuButton>
    </StackLayout>
  </ActionItem>
</ActionBar>

<GridLayout
  rows="*"
  [class]="'container ' + (isDarkTheme ? 'theme-dark' : 'theme-light')"
  (loaded)="onRootLoaded()"
  (tap)="onContainerTap($event)">
  <ScrollView #pricesScroll id="prices-scroll" [height]="pricesScrollHeight" verticalAlignment="top">
    <StackLayout class="content">
      <StackLayout class="card">
        <StackLayout class="loading-wrap" *ngIf="isLoading">
          <ActivityIndicator [busy]="isLoading" width="24" height="24"></ActivityIndicator>
        </StackLayout>

        <GridLayout
          *ngFor="let item of jobTypes; let i = index"
          columns="*,auto"
          [class.line-row]="i > 0">
          <Label col="0" class="item-name" [text]="item.name"></Label>
          <GridLayout col="1" columns="auto,*" class="input-shell item-input-shell">
            <Label col="0" class="currency-prefix" text="$"></Label>
            <TextField
              col="1"
              class="custom-tf-inline item-price-input"
              keyboardType="decimal"
              hint="0.00"
              [text]="item.editablePrice"
              (textChange)="onPriceChange(item, $event)"
              (focus)="onPriceFocus(i)"
              (blur)="onPriceBlur(item)">
            </TextField>
          </GridLayout>
        </GridLayout>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</GridLayout>
