<ActionBar class="action-bar" title="Residential Job Prices">
  <ActionItem ios.position="right">
    <StackLayout>
      <MenuButton
        style="height: 48; width: 35; padding: 0; margin: 0;"
        [useSFIcon]="true"
        [sfIconName]="'ellipsis.circle'"
        [isRightSide]="true"
        [showSpinner]="isSaveLoading"
        [options]="mainMenuR.options"
        (selected)="onSelectedMainMenuR($event)">
      </MenuButton>
    </StackLayout>
  </ActionItem>
</ActionBar>

<GridLayout rows="*" class="container">
  <ScrollView>
    <StackLayout class="content">
      <StackLayout class="card">
        <StackLayout class="loading-wrap" *ngIf="isLoading">
          <ActivityIndicator [busy]="isLoading" width="24" height="24"></ActivityIndicator>
        </StackLayout>

        <GridLayout
          *ngFor="let item of jobTypes; let i = index"
          columns="*,auto"
          [class.line-row]="i > 0">
          <Label col="0" class="item-name" [text]="item.name"></Label>
          <GridLayout col="1" columns="*" class="input-shell item-input-shell">
            <TextField
              col="0"
              class="custom-tf-inline item-price-input"
              keyboardType="number"
              [text]="item.editablePrice"
              (textChange)="onPriceChange(item, $event.value)">
            </TextField>
          </GridLayout>
        </GridLayout>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</GridLayout>
