.container {
  padding: 16;
}

.card {
  margin-top: 24;
  padding: 16;
  border-radius: 10;
  background-color: rgba(126, 151, 185, 0.2);
}

.title {
  font-size: 22;
  font-weight: 700;
}

.subtitle {
  font-size: 14;
  margin-top: 4;
  margin-bottom: 16;
  opacity: 0.8;
}

.input {
  margin-bottom: 12;
}

