.form {
  margin-left: 15;
  margin-right: 15;
  padding: 15;
  border-radius: 30;
  background-color: rgba(0, 0, 0, 0.562);
}

.input-shell {
  margin-top: 6;
  margin-bottom: 6;
  height: 44;
  border-radius: 50%;
  border-width: 1;
}

TextField.custom-tf-inline {
  height: 44;
  font-size: 17;
  padding-left: 12;
  padding-right: 5;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  border-width: 0;
  background-color: transparent;
  vertical-align: middle;
}

.suffix-label {
  font-size: 14;
  padding-right: 10;
  vertical-align: middle;
}

.ns-light .input-shell {
  background-color: #ffffff;
  border-color: #d1d1d6;
}

.ns-dark .input-shell {
  background-color: #2c2c2e;
  border-color: #48484a;
}

.ns-light TextField.custom-tf-inline {
  color: #000000;
  placeholder-color: #8e8e93;
}

.ns-dark TextField.custom-tf-inline {
  color: #ffffff;
  placeholder-color: #aeaeb2;
}

.ns-light .suffix-label {
  color: #3a3a3c;
}

.ns-dark .suffix-label {
  color: #f2f2f7;
}

.required-label {
  margin-left: 16;
  color: #bd3636;
}

.custom-btn {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 10;
  font-size: 15;
  border-color: rgb(255, 255, 255);
  border-width: 1.3;
}

.btn-login {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 10;
  font-size: 15;
  border-color: rgb(255, 255, 255);
  border-width: 1.3;
  margin-top: 200px;
}

.signup-label {
  text-align: center;
  color: white;
}

.no-acct {
  color: gray;
}

.signup {
  font-weight: bold;
}

image {
  margin-bottom: 400px;
}

.logo {
  font-size: 40;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.603);
  color: white;
}

.logo:active {
  font-size: 40;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.603);
  color: rgb(134, 110, 110);
}

.fa {
  font-family: fontawesome-webfont;
  font-family: FontAwesome;
}
