<ScrollView keyboardDismissMode="onDrag">
  <StackLayout verticalAlignment="center" class="form" [formGroup]="loginForm">
    <label horizontalAlignment="left" text="Sign in" class="logo"></label>

    <GridLayout rows="auto" columns="*" style="margin-top: 50px; margin-right: 30;">
      <GridLayout columns="*,auto" class="input-shell" width="100%">
        <TextField
          col="0"
          formControlName="username"
          required
          hint="bp-username"
          returnKeyType="next"
          (returnPress)="focusPassword()"
          autocapitalizationType="none"
          autocorrect="false"
          class="custom-tf-inline">
        </TextField>
        <Label col="1" text="@cable.comcast.com" class="suffix-label"></Label>
      </GridLayout>
    </GridLayout>

    <Label
      class="required-label"
      text="{{loginForm.controls.username.errors?.required ? 'Please enter the BP Username' : ''}}">
    </Label>

    <GridLayout rows="auto" columns="*" style="margin-right: 30; margin-top: 20;">
      <GridLayout columns="*,auto" class="input-shell" width="100%">
        <TextField
          col="0"
          secure="{{showPass ? false : true}}"
          formControlName="password"
          returnKeyType="go"
          (returnPress)="loginForm.valid ? login() : null"
          required
          hint="password"
          autocapitalizationType="none"
          autocorrect="false"
          class="custom-tf-inline">
        </TextField>
        <StackLayout col="1" width="34" height="42" horizontalAlignment="right" orientation="horizontal" (tap)="showHidePass()">
        <Label *ngIf="showPass" width="30" text="&#xf06e;" style="font-size: 17; margin-bottom: 2;" class="fas"></Label>
        <Label *ngIf="!showPass" width="30" text="&#xf070;" style="font-size: 17; margin-bottom: 2;" class="fas"></Label>
        </StackLayout>
      </GridLayout>
    </GridLayout>

    <Label
      class="required-label"
      text="{{loginForm.controls.password.errors?.required ? 'Please enter the password' : ''}}">
    </Label>

    <Button
      [isEnabled]="loginForm.valid && !isBusy"
      text="Log in"
      class="ios-login-btn"
      (tap)="login()">
    </Button>
  </StackLayout>
</ScrollView>
