<ActionBar class="action-bar" title="Today's Job List">
  <ActionItem
    ios.position="right"
    ios.systemIcon="13"
    [visibility]="isSyncing ? 'collapse' : 'visible'"
    [isEnabled]="!isSyncing"
    (tap)="getWorkOrders()">
  </ActionItem>
  <ActionItem ios.position="right" [visibility]="isSyncing ? 'visible' : 'collapse'">
    <ActivityIndicator [busy]="isSyncing" width="20" height="20"></ActivityIndicator>
  </ActionItem>

  <ActionItem ios.position="right">
    <StackLayout>
      <MenuButton
        style="height: 48; width: 35; padding: 0; margin: 0;"
        [useSFIcon]="true"
        [sfIconName]="'ellipsis.circle'"
        [isRightSide]="true"
        [options]="mainMenuR.options"
        (selected)="onSelectedMainMenuR($event)">
      </MenuButton>
    </StackLayout>
  </ActionItem>

  <ActionItem ios.position="left" style="font-size: 17px" class="fas">
    <StackLayout orientation="horizontal">
      <MenuButton
        [useSFIcon]="true"
        class="fas"
        style="background-color: transparent; font-size: 18px;"
        [sfIconName]="mainMenuIconName"
        [showSpinner]="isTechStatusLoading"
        [options]="mainMenu.options"
        (selected)="onSelectedMainMenu($event)">
      </MenuButton>
    </StackLayout>
  </ActionItem>

  <ActionItem *ngIf="isOnShift" ios.position="left">
    <StackLayout>
      <MenuButton
        [useSFIcon]="true"
        [sfIconName]="'fork.knife.circle'"
        [options]="[]"
        (selected)="selected($event, item)">
      </MenuButton>
    </StackLayout>
  </ActionItem>
</ActionBar>

<StackLayout class="container">
  <GridLayout rows="auto" columns="*" style="margin-left: 10; margin-right: 10; margin-top: 10;">
    <StackLayout horizontalAlignment="left" orientation="horizontal">
      <Label class="action-bar-title today-label" [text]="'Today: ' + (todayTotal | currency)" colSpan="2"></Label>

      <!-- <Label row="1" (longPress)="showMenu($event, 'XXXXXXX')" class="text-2xl text-center">Show Menu</Label> -->
    </StackLayout>

    <!-- <StackLayout horizontalAlignment="left" orientation="horizontal">
      <MenuButton class="fas"
        style="background-color: transparent; font-size: 18px; height: 70px; width: 100px; margin: 0" text="&#xf560;"
        [options]="jobMenu.options" (selected)="onSelectedJobMenu($event, item)">
      </MenuButton>
    </StackLayout> -->

    <StackLayout horizontalAlignment="center" orientation="horizontal">
      <Label class="action-bar-title today-label" [text]="'Units: ' + units" colSpan="2"></Label>
    </StackLayout>

    <!-- <MDButton rippleColor="blue" text="text button"></MDButton> -->

    <StackLayout horizontalAlignment="right" orientation="horizontal">
      <Label class="action-bar-title today-label" [text]="'Week: ' + (weeklyTotal | currency)" colSpan="2"></Label>
    </StackLayout>
  </GridLayout>

  <!-- <RadListView selectionBehavior="None" [items]="items" itemReorder="true" (itemReordered)="onItemReordered($event)"
    height="400">

    <ng-template let-item="item">
      <StackLayout backgroundColor="red">
        <Label [text]="item.name" style="margin: 10; background-color: blue;"></Label>
      </StackLayout>
    </ng-template>

  </RadListView> -->

  <GridLayout rows="auto" columns="*, auto" style="margin-left: 10; margin-right: 10; margin-top: 10;">

    <StackLayout col="0" horizontalAlignment="center" orientation="horizontal" style="margin-top: 10; margin-bottom: 20;">
      <StackLayout orientation="horizontal">
        <Label class="fas" text="&#xf058;" style="font-size: 20px; margin-right: 5;"></Label>
        <Label text="All" style="font-size: 17;"></Label>
      </StackLayout>

      <Switch id="userStatus" (checkedChange)="toggleStarredView($event)" style="margin-left: 5; margin-right: 5;"></Switch>
      <StackLayout orientation="horizontal">
        <Label class="fas" text="&#xf005;" style="font-size: 20px; margin-right: 5;"></Label>
        <Label [text]="starredCount > 0 ? ('Starred (' + starredCount + ')') : 'Starred'" style="font-size: 17;"></Label>
      </StackLayout>
    </StackLayout>

    <!-- <StackLayout orientation="horizontal" col="1">
      <StackLayout horizontalAlignment="left" orientation="horizontal" col="0">
        <CheckBox text="Include Price" [(ngModel)]="includePrice" style="font-size: 20px" col="0"></CheckBox>
      </StackLayout>
    </StackLayout> -->

    <!-- <CheckBox text="Current" [(ngModel)]="currentJob" style="font-size: 20px" col="1"></CheckBox> -->
    <!-- <CheckBox text="Open" [(ngModel)]="openJobs" style="font-size: 20px" col="2"></CheckBox> -->
  </GridLayout>

  <RadListView
    [items]="jobList"
    [pullToRefresh]="!isSyncing"
    (pullToRefreshInitiated)="onPullToRefresh($event)"
    (itemTap)="onItemTap($event)"
    height="100%"
    class="jobs-list">
    <ng-template tkListItemTemplate let-item="item">
      <GridLayout clipToBounds="false">
        <StackLayout class="item-bag">
          <GridLayout columns="*,auto" width="100%" class="item-header">
            <Label
              col="0"
              class="first-row"
              [text]="(item.jobDescription || 'Job') + (item.description ? ' - ' + item.description : '')">
            </Label>
            <Label col="1" class="first-row amount" [text]="(item.amount || 0) | currency"></Label>
          </GridLayout>

        <Label
          class="second-row"
          (longPress)="showMenu($event, (item.address || '') + ', ' + (item.city || '') + ', ' + (item.state || '') + ' ' + fiveDigitZip(item.zipcode), 'address')"
          [text]="(item.address || '') + ', ' + (item.city || '') + ', ' + (item.state || '') + ' ' + fiveDigitZip(item.zipcode)">
        </Label>

        <!-- <GridLayout rows="auto" columns="auto,*,auto" class="meta-row">
          <Label col="0" class="second-row" [text]="'Job#: ' + (item.number || 'n/a')"></Label>
          <Label col="1" class="second-row" [text]="'Account#: ' + (item.accountNumber || 'n/a')"></Label>
          <Label col="2" class="second-row units" [text]="'Units: ' + (item.jobUnits || 'n/a')"></Label>
        </GridLayout> -->

        <GridLayout rows="auto" columns="auto, *, auto" class="meta-row">
            <Label col="0" (longPress)="showMenu($event, item.number)"  class="secondRow"
              [text]="'Job#: ' + item.number" style="margin-right: 10;"></Label>

            <Label col="1" (longPress)="showMenu($event, item.accountNumber)"  class="secondRow"
              [text]="'Account#: ' + item.accountNumber"></Label>

            <Label col="2" class="secondRow units" [text]="'Units: ' + (item.jobUnits ? item.jobUnits : 'n/a')"></Label>
          </GridLayout>
        

        <GridLayout columns="*,auto" style="margin-bottom: 10;">
          <!-- <Label
            col="0"
            class="second-row"
            [text]="'Modems: ' + (item.modems || 0) + '  TV Boxes: ' + (item.tvBoxes || 0) + '  Cameras: ' + (item.cameras || 0)">
          </Label> -->
          <Label
            col="0"
            class="second-row"
            [text]="(item.timeSlotStartDateTime | date: 'h:mm a') + ' - ' + (item.timeSlotEndDateTime | date: 'h:mm a')">
          </Label>
        </GridLayout>

        <StackLayout horizontalAlignment="right" orientation="horizontal" style="padding: 0" backgroundColor="">
            <GridLayout rows="auto" columns="auto, *">
              <!-- <MDButton rippleColor="blue" text="">
                                <FormattedString>
                                  <Span text="&#xf26c;" class="fas"></Span>
                                </FormattedString>
                              </MDButton> -->

              <!-- <Label *ngIf="item.status == 'CLOSED'" class="fas" text="&#xf26c;" (tap)="showAddDevicesModal(item)"
                                style="margin-right: 10; font-size: 18px"></Label> -->

              <StackLayout row="0" col="0" horizontalAlignment="left" orientation="horizontal" style="padding: 0"
                backgroundColor="">
                <Label *ngIf="item.sms_survey_sent" class="fas" text="&#xf7cd;" style="font-size: 18px"></Label>

                <!-- <TimePicker *ngIf="item.status != 'CLOSED'" #etcTimePicker width="100" minuteInterval="5"
                  horizontalAlignment="left" marginLeft="0" (timeChange)="onTimeChanged($event, item)">
                </TimePicker> -->
              </StackLayout>


              <StackLayout row="0" col="1" horizontalAlignment="right" orientation="horizontal" style="padding: 0"
                backgroundColor="">
                <!-- <MDRipple rippleColor="blue" elevation="1" style="border-radius: 5;" style="margin-right: 20px"
                  #bondingBtn>
                  <Label class="fas" text="&#xf1eb;" (tap)="wifiConfig(item)" style="font-size: 14px"></Label>
                </MDRipple> -->

                <!-- <MDRipple *ngIf="roleId == 2" rippleColor="blue" elevation="1" style="border-radius: 5;"
                  style="margin-right: 20px" #bondingBtn>
                  <Label class="fas" text="&#xf02b;" (tap)="goToBondingValidation(item)"
                    style="font-size: 14px"></Label>
                </MDRipple> -->

                <!-- <MDRipple *ngIf="item.status == 'CLOSED'" rippleColor="blue" elevation="1" style="border-radius: 5;"
                  style="margin-right: 20px">
                  <Label class="fas" text="&#xf044;" (tap)="showEditJob(item)" style="font-size: 14px"></Label>
                </MDRipple> -->

                <!-- <MDRipple rippleColor="blue" elevation="1" style="border-radius: 5;" style="margin-right: 20px">
                  <Label class="fas" text="&#xf007;" (tap)="showCustomerInfo(item)" style="font-size: 14px"></Label>
                </MDRipple> -->

                <!-- <MDRipple rippleColor="blue" elevation="1" style="border-radius: 5; margin-right: 20px"> -->
                  <Label class="far"
                    [class.far]="!item.isStarred"
                    [class.fas]="item.isStarred"
                    text="&#xf005;"
                    (tap)="setStarred(item)"
                    style="font-size: 16px; margin-right: 5;"></Label>
                <!-- </MDRipple>s -->

                <MenuButton class="fas"
                  [class.job-action-tapped]="isJobActionTapped(item, 'wifi')"
                  style="background-color: transparent; font-size: 14px; height: 70px; width: 100px; margin: 0"
                  text="&#xf1eb;" (tap)="markJobActionTap(item, 'wifi'); wifiConfig(item)">
                </MenuButton>

                <MenuButton *ngIf="item.status == 'CLOSED'" class="fas"
                  [class.job-action-tapped]="isJobActionTapped(item, 'edit')"
                  style="background-color: transparent; font-size: 14px; height: 70px; width: 100px; margin: 0"
                  text="&#xf044;" (tap)="markJobActionTap(item, 'edit'); showEditJob(item)">
                </MenuButton>

                <MenuButton class="fas"
                  [class.job-action-tapped]="isJobActionTapped(item, 'customer')"
                  style="background-color: transparent; font-size: 14px; height: 70px; width: 100px; margin: 0"
                  text="&#xf007;" (tap)="markJobActionTap(item, 'customer'); showCustomerInfo(item)">
                </MenuButton>

                <MenuButton class="fas"
                  [class.job-action-tapped]="isJobActionTapped(item, 'history')"
                  style="background-color: transparent; font-size: 16px; height: 70px; width: 100px; margin: 0"
                  text="&#xff682;" (tap)="markJobActionTap(item, 'history'); showJobHistory(item)">
                </MenuButton>

                <MenuButton class="fas"
                  [class.job-action-tapped]="isJobActionTapped(item, 'add-devices')"
                  style="background-color: transparent; font-size: 14px; height: 70px; width: 100px; margin: 0"
                  text="&#xf26c;" (tap)="markJobActionTap(item, 'add-devices'); showAddDevicesModal(item)">
                </MenuButton>

                <MenuButton class="fas"
                  [class.job-action-tapped]="isJobActionTapped(item, 'activate-service')"
                  style="background-color: transparent; font-size: 16px; height: 70px; width: 100px; margin: 0"
                  text="&#xe012;" (tap)="markJobActionTap(item, 'activate-service'); goToActivateService(item)">
                </MenuButton>

                <MenuButton *ngIf="(item.status == 'OPEN' && item.isCurrent) && roleId == 2" class="fas"
                  [class.job-action-tapped]="isJobActionTapped(item, 'remove-devices')"
                  style="background-color: transparent; font-size: 14px; height: 70px; width: 100px; margin: 0"
                  text="&#xf2ed;" (tap)="markJobActionTap(item, 'remove-devices'); showRemoveDevicesModal(item)">
                </MenuButton>

                <!-- <MDRipple *ngIf="(item.status == 'OPEN' && item.isCurrent) && roleId == 2" rippleColor="blue"
                  elevation="1" style="border-radius: 5; margin-right: 20px">
                  <Label class="fas" text="&#xf2ed;" (tap)="showRemoveDevicesModal(item)"
                    style="font-size: 14px"></Label>
                </MDRipple> -->

                <!-- <MDRipple *ngIf="item.status != 'CLOSED' && roleId == 2" rippleColor="blue" elevation="1"
                  style="border-radius: 5;">
                  <Label class="fas" text="&#xf46c;" (tap)="completeJob(item)" style="font-size: 14px"></Label>
                </MDRipple> -->

                <!-- <MDRipple *ngIf="roleId == 2" rippleColor="blue" elevation="1"
                  style="border-radius: 5;  margin-right: 20px">
                  <Label class="fab" text="&#xf4f0;" (tap)="goXmIngress(item)" style="font-size: 17px"></Label>
                </MDRipple>

                <MDRipple *ngIf="roleId == 2" rippleColor="blue" elevation="1" style="border-radius: 5;">
                  <Label class="fas" text="&#xe473;" (tap)="goPHTScans(item)" style="font-size: 17px"></Label>
                </MDRipple> -->

                <MenuButton *ngIf="roleId == 2" class="fas"
                  [class.job-action-tapped]="isJobActionTapped(item, 'scans')"
                  style="background-color: transparent; font-size: 16px; height: 70px; width: 100px; margin: 0"
                  text="&#xf0ee;" [options]="scansMenu.options" (tap)="markJobActionTap(item, 'scans')" (selected)="selected($event, item)">
                </MenuButton>

                <MenuButton *ngIf="item.status != 'CLOSED' && roleId == 2" class="fas"
                  [class.job-action-tapped]="isJobActionTapped(item, 'job-menu')"
                  style="background-color: transparent; font-size: 16px; height: 70px; width: 100px; margin: 0"
                  text="&#xf560;" [options]="jobMenu.options" (tap)="markJobActionTap(item, 'job-menu')" (selected)="onSelectedJobMenu($event, item)">
                </MenuButton>
              </StackLayout>
            </GridLayout>

            <!-- <Label class="fas firstRow" text="&#xf142;" (tap)="onDeleteJob(item)"></Label> -->
        </StackLayout>
        </StackLayout>
        <Label
          class="fas status-icon floating-status {{ itemStatusClass(item) }}"
          [text]="itemStatusIcon(item)">
        </Label>
      </GridLayout>
    </ng-template>
  </RadListView>
</StackLayout>
