<ActionBar class="action-bar" title="SMS Survey">
  <ActionItem ios.position="right" [visibility]="isSaveLoading ? 'collapse' : 'visible'">
    <StackLayout>
      <MenuButton
        id="sms-survey-menu-btn"
        style="height: 48; width: 35; padding: 0; margin: 0;"
        [useSFIcon]="true"
        [sfIconName]="'ellipsis.circle'"
        [isRightSide]="true"
        [options]="mainMenuR.options"
        (selected)="onSelectedMainMenuR($event)">
      </MenuButton>
    </StackLayout>
  </ActionItem>
  <ActionItem ios.position="right" [visibility]="isSaveLoading ? 'visible' : 'collapse'">
    <ActivityIndicator [busy]="isSaveLoading" width="20" height="20"></ActivityIndicator>
  </ActionItem>
</ActionBar>

<GridLayout
  rows="*"
  [class]="'container ' + (isDarkTheme ? 'theme-dark' : 'theme-light')"
  (loaded)="onRootLoaded()">
  <ScrollView row="0">
    <StackLayout class="content">
      <StackLayout>
        <Label text="English Survey text" class="section-title"></Label>
        <TextView
          hint="Enter survey message"
          [text]="token"
          (textChange)="token = $event.value"
          class="notes-input">
        </TextView>
      </StackLayout>

      <StackLayout class="survey-section">
        <Label text="Spanish Survey text" class="section-title"></Label>
        <TextView
          hint="Enter survey message"
          [text]="token"
          (textChange)="token = $event.value"
          class="notes-input">
        </TextView>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</GridLayout>
