<ModalStack dismissEnabled="true" class="modal-root">
  <GridLayout rows="*" columns="*">
    <StackLayout row="0" col="0" class="backdrop" (tap)="closeModal()"></StackLayout>

    <GridLayout row="0" col="0" rows="auto,auto" class="modal-card">
      <GridLayout row="0" columns="*,auto" class="header header-fixed">
        <Label col="0" text="Customer Info" class="title modal-title-text"></Label>

        <StackLayout col="1">
          <MenuButton
            [useSFIcon]="true"
            style="background-color: transparent; height: 24; width: 35;"
            [sfIconName]="'ellipsis.circle'"
            [options]="mainMenu.options"
            (selected)="onSelectedMainMenu($event)">
          </MenuButton>
        </StackLayout>
      </GridLayout>

      <StackLayout row="1" class="card">
        <GridLayout columns="*, auto" class="data-row">
          <Label col="0" text="Name" class="label-key"></Label>
          <GridLayout
            col="1"
            columns="auto,auto"
            class="name-inline">
            <Label
              col="0"
              [text]="(job?.customer?.firstName || '-') | titlecase"
              class="label-value name-subvalue"
              (longPress)="showMenu($event, $event.object.text)"
              textAlignment="right">
            </Label>
            <Label
              col="1"
              [text]="(job?.customer?.lastName || '-') | titlecase"
              class="label-value name-subvalue"
              (longPress)="showMenu($event, $event.object.text)"
              textAlignment="right">
            </Label>
          </GridLayout>
        </GridLayout>

        <GridLayout columns="*, auto" class="line-row data-row">
          <Label col="0" text="Primary Number" class="label-key"></Label>
          <Label
            col="1"
            [text]="(job?.customer?.homePhoneNumber | phone) || '-'"
            class="label-value"
            (longPress)="showMenu($event, $event.object.text, job?.customer?.homePhoneNumber, true, true, true)"
            textAlignment="right">
          </Label>
        </GridLayout>

        <GridLayout columns="*, auto" class="line-row data-row">
          <Label col="0" text="Call First Number" class="label-key"></Label>
          <Label
            col="1"
            [text]="(job?.customer?.callFirstPhoneNumber | phone) || '-'"
            class="label-value"
            (longPress)="showMenu($event, $event.object.text, job?.customer?.callFirstPhoneNumber, true, true, true)"
            textAlignment="right">
          </Label>
        </GridLayout>

        <GridLayout columns="*, auto" class="line-row data-row">
          <Label col="0" text="Work Number" class="label-key"></Label>
          <Label
            col="1"
            [text]="(job?.customer?.workPhoneNumber | phone) || '-'"
            class="label-value"
            (longPress)="showMenu($event, $event.object.text, job?.customer?.workPhoneNumber, true, true, true)"
            textAlignment="right">
          </Label>
        </GridLayout>

        <GridLayout columns="*, auto" class="line-row data-row">
          <Label col="0" text="Survey Number" class="label-key"></Label>
          <Label
            col="1"
            [text]="(job?.customer?.surveyPhoneNumber | phone) || '-'"
            class="label-value"
            (longPress)="showMenu($event, $event.object.text, job?.customer?.surveyPhoneNumber, true, true, true)"
            textAlignment="right">
          </Label>
        </GridLayout>

        <GridLayout columns="*, auto" class="line-row data-row">
          <Label col="0" text="Xfinity App Username" class="label-key"></Label>
          <Label
            col="1"
            [text]="job?.customer?.xfinityAppUsername || '-'"
            class="label-value"
            (longPress)="showMenu($event, $event.object.text)"
            textAlignment="right">
          </Label>
        </GridLayout>

        <GridLayout columns="*, auto" class="line-row data-row">
          <Label col="0" text="Email" class="label-key"></Label>
          <Label
            col="1"
            [text]="(job?.customer?.email || '-') | lowercase"
            class="label-value"
            (longPress)="showMenu($event, $event.object.text)"
            textAlignment="right">
          </Label>
        </GridLayout>
      </StackLayout>
    </GridLayout>
  </GridLayout>
</ModalStack>
